<p id="notice"><%= notice %></p>

<p>
  <strong>Work type name:</strong>
  <%= @work_order_type.Work_Type_Name %>
</p>

<%= link_to 'Edit', edit_work_order_type_path(@work_order_type) %> |
<%= link_to 'Back', work_order_types_path %>
