<h1>Editing Work Order Duration Type</h1>

<%= render 'form', work_order_duration_type: @work_order_duration_type %>

<%= link_to 'Show', @work_order_duration_type %> |
<%= link_to 'Back', work_order_duration_types_path %>
