<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @complain_status.Status %>
</p>

<%= link_to 'Edit', edit_complain_status_path(@complain_status) %> |
<%= link_to 'Back', complain_statuses_path %>
